<footer class="page-footer font-small pt-0 m-0 .fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2021 Copyright:
        <a href="/"> kumarsumit16022000@gmail.com</a>
    </div>
    <!-- Copyright -->
 
</footer>